*.vcxproj
*.sln
*.vcxproj.filters
*.vcxproj.user
/practice-pentalog/.vs/practice-pentalog/v17/.suo
/practice-pentalog/.vs/practice-pentalog/v17/Browse.VC.db
/practice-pentalog/.vs/practice-pentalog/v17/ipch/AutoPCH/a5108b8c2c491e82/SOURCE.ipch
